* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #f4f4f4;
}
    
header {
    background-color: #98D2C0;
    color: #205781;
    padding: 10px 0;
}

.nav-container nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-container nav ul li {
    margin: 0 20px;
}

.nav-container nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#hero {
    background-color: #205781;
    color: white;
    padding: 60px 0;
    text-align: center;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#hero p {
    font: size 30px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #205781;
  }

#about {
    background-color: #205781;
}

#projects {
    background-color: #205781;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.project {
    background-color: #F6F8D5;
    color: #205781;
    padding: 15px;
    width: 25%;
}

#contact {
    background-color: #205781;
}

footer {
    background-color: #98D2C0;
    color: #205781;
    text-align: center;
    padding: 15px 0;
}
